@font-face {
    font-family: "truthAndIdeals";
    src: url(../fonts/Truth\ And\ Ideals-Normal.ttf);
}

* {
    font-family: "truthAndIdeals";
    /* font-family: "Pixelify Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; */
    color: white;
}

body {
    background-image: url(../images/bckgrndproject.png);
}

.icon {
    width: 80px;
    height: auto;
    transition: all 1s;
    text-decoration: none;
    display: inline;
}

.icon:hover {
    transform: translateY(-30%);
}

.activo {
    background-color: rgba(0, 255, 0, 0.5);
}

.inactivo {
    background-color: rgba(255, 0, 0, 0.5);
}
/*
.icon:hover .text {
    opacity: 1;
    font-size: large;
}*/


.elevar{
   
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.elevar:hover .text {
    opacity: 1;
    font-size: large;
}

.text {
    transition: all 0.3s ease-in-out;
    font-size: 0;
    opacity: 0;
    color: white;
    text-decoration: none;

}

.game {
    background-image: url(../images/battlebg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    color: black;
    text-shadow: 20px;
    display: block;
    background-position: center;

}

.fondoAdivinanza {
    width: 80%;
    min-width: 100%;
}

#center {


    display: block;
    width: 250px;
    margin: auto;
    height: 400px;
}

/* BARRA MENU */
.menu {
    background-color: rgba(200, 119, 119, 1);
    box-shadow: 2px 2px 5px rgba(8, 8, 8, 0.767);
    /*Sombreado*/
}

.menu a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu a:hover {
    /*Al pasar el raton por encima del menu cambia de color*/
    color: lightsalmon;
    transition: all .3s;
}

.win-image {
    width: 40%;
    max-width: 400px;
}

.loss-image {
    width: 20%;
    max-width: 200px;
}

/* */

h1 {
    color: rgba(200, 119, 119, 1);
}

#sileutadiv {
    margin: auto;
    width: 20%;
    border: 10px gray inset;
    background-color: white;
}

#silueta {
    filter: brightness(0%);
    display: block;
    margin: auto;
    min-height: 70%;
    min-width: 70%;

}

#audio {
    margin: auto;
    justify-content: center;
    align-items: center;
}

#descripcion {
    font-size: 20px;
    margin: auto;
    color: white;
    text-align: center;
    width: auto;
    background-color: rgb(61, 60, 60);
    border: 10px solid rgb(145, 45, 45);
}

#pista {
    text-decoration: dotted;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    color: black;
    font-size: 20px;

}

.tablaP {
    color: rgba(200, 119, 119, 1);
    font-size: 20px;
}

input {
    color: black;
}

select {
    color: black;
}

option {
    color: black;
}

.tablaP:hover {
    /*Al pasar el raton por encima del menu cambia de color*/
    color: rgba(72, 32, 32, 1);
    transition: all .3s;
}

textarea {
    color: black;
}


/* FOOTER */
.pie {
    background-color: rgba(200, 119, 119, 1);
    color: white;
    box-shadow: 2px 2px 5px rgba(8, 8, 8, 0.767);
    /*Sombreado*/
}

.pie a {
    color: white;
}

.borde {
    border: 2px solid rgba(58, 56, 56, 0.918);
}



.menu-container {
    max-height: 15vh;
    /* ocupa un % de la altura de la pantalla */
    flex-direction: column;
    justify-content: center;
    /* centra verticalmente el contenido */
}

.menu-container .row {
    width: 100%;
}

.logo {
    max-width: 35%;
    max-height: 35%;
}

/* We manually set the width of the div manually so the options aren't too far apart because Bootstrap doesn't have responsive width */
/* These breakpoints are equivalent to the infixes: none, "md", "lg" and "xl" respectively */
.crear-clasificar-container {
    @media (min-width: 0px) {
        width: 100%;
    }
    @media (min-width: 768px) {
        width: 80%;
    }
    @media (min-width: 992px) {
        width: 60%;
    }
    @media (min-width: 1200px) {
        width: 50%;
    }


}